#parse("template/layout.vm")
#@mainLayout()
<div class="container">
  <div id="content-head">
    <div class="row-container">
      <h3>Admin Page:</h3>
      <div class="position-left">
        <button class="admin-button green">
          <a href="/posts/create">New Post</a>
        </button>
        <button class="admin-button red">
          <a href="/admin/logout">Logout</a>
        </button>
      </div>
    </div>
  </div>
  #foreach($post in $posts)
    <div class="article-preview">
      <div class="row-container">
        <h3 class="preview-title">
          <a href="/posts/$post.getURI()">$post.getTitle()</a>
        </h3>
        <span class="preview-date">$post.getDateString()</span>
      </div>
      <div class="row-container">
        <button class="admin-button blue"><a href="/posts/$post.getURI()/edit">Edit</a></button>
        <button class="admin-button red delete-button" postURI="$post.getURI()">Delete</button>
      </div>
    </div>
  #end
  <div class = "row-container left-20 top-20">
    <form action="/media/upload" method="post" enctype="multipart/form-data">
      <div class="col-container">
        <label class="form-label" for="body">Upload a file:</label>
        <span class="subhead">File will appear under /public.</span>
        <input type="file" name="file">
        <input class="admin-button no-margin-full-width top-20" type="submit">
      </div>
    </form>
  </div>
  <div class = "row-container left-20 top-20">
    <button class="admin-button no-margin-full-width top-20">
      <a href="/media/view">View Uploads</a>
    </button>
  </div>
  <div class="row-container left-20 top-20">
    <form action="/admin/password-reset" method="post">
      <div class="col-container">
        <label class="form-label" for="body">Change your password:</label>
        <label class="subhead pwd-box" for="prev-pwd">Enter your current password</label>
        <input type="password" class="input-box pwd-box" name="prev-pwd">
        <label class="subhead" for="prev-pwd">Enter your new password</label>
        <input type="password" class="input-box pwd-box" name="next-pwd">
        <label class="subhead" for="conf-pwd">Confirm new password</label>
        <input type="password" class="input-box pwd-box" name="conf-pwd">
        <input class="admin-button no-margin-full-width top-20" type="submit">
      </div>
    </form>
  </div>

  <script type="application/javascript" src="/javascripts/adminScript.js"></script>
</div>
#end
