#parse("template/layout.vm")
#@mainLayout()
<div class="container cont-90">
  <div id="content-head">
    <h3>
      Edit article $post.getTitle():
    </h3>
    <form action="/posts/$post.getURI()/edit" method="post">
      <div class="col-container">
        <label class="form-label" for="title">Title:</label>
        <input class="input-box" type="text" name="title" autocomplete="off" value="$post.getTitle()">
        <label class="form-label" for="body">Content:</label>
        <span class="subhead">Supports Markdown.</span>
        <textarea class="multiline-input-box" type="text" name="body" rows="30">$post.getContent()</textarea>
        <input type="hidden" name="id" value="$post.getId()">
        <input class="admin-button no-margin-full-width" type="submit">
      </div>
    </form>
  </div>
</div>
#end