html, body {
  margin: 0;
}

h3 {
  font-family: "Futura", "Trebuchet MS", sans-serif;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

textarea {
  resize: vertical;
}

#main-container {
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  flex-basis: content;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #ffffff;
}

#content {
  display: flex;
  justify-content: center;
  height: max-content;
  flex: 1;
  overflow: hidden;
}

#hamburger {
  justify-self: center;
  margin-left: 20px;
  margin-right: auto;
  cursor: pointer;
}

#title {
  font-family: "Futura", "Trebuchet MS", sans-serif;
  margin-right: auto;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.icon-large {
  font-size: 32pt;
}

.preview-body {
  font-family: "Merriweather", serif;
  margin-left: 35px;
  padding: 5px;
  margin-top: 0;
}

.preview-title {
  margin-left: 40px;
  margin-top: 15px;
  font-family: "Futura", "Trebuchet MS", sans-serif;
}

.article-preview {
  border: 1px solid #828282;
  border-radius: 3px;
  margin: 0px 20px 20px 20px;
  max-width: 900px;
  flex: 1;
}

#footer {
  height: 50px;
  width: 100%;
  font-family: "Futura", "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container:first-child {
  margin-top: 100px;
}

@keyframes expand-menu {
  from {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  to {
    max-width: 400px;
    opacity: 100%;
    max-height: 1000px;
  }
}

@keyframes hide-menu {
  from {
    max-width: 400px;
    opacity: 100%;
    max-height: 1000px;
  }
  to {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
}

#menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  max-width: 400px;
  width: 90%;
  top: 80px;
  left: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.hidden {
  display: none;
}

#hamburger {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#menu:before {
  content:"";
  position: absolute;
  left: 11px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  z-index:9999;
}

#menu:after {
  content:"";
  position: absolute;
  left: 9px;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent black transparent;
  z-index:9998;
}

.menu-link {
  font-family: Futura, "Trebuchet MS", sans-serif;
  padding: 20px;
  justify-content: center;
  -webkit-transition: ease-in-out 500ms;
  -moz-transition: ease-in-out 500ms;
  -ms-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.menu-link:hover {
  background-color: springgreen;
  border-radius: 5px;
}

.preview-date {
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  font-family: Futura, 'Trebuchet MS', sans-serif;
}

#main-text-container {
  max-width: 900px;
  margin-left: 20px;
  margin-right: 20px;
}

#post-title {
  font-family: Futura, "Trebuchet MS", sans-serif;
  font-size: 36pt;
  margin-bottom: 0;
}

#post-date {
  margin-left: 0;
  margin-bottom: 60px;
}

#post-body {
  line-height: 2;
  font-size: 13pt;
  font-family: "Merriweather", serif;
}

.admin-button {
  background-image:none;
  background-color:transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 12px;
  font-family: Futura, "Trebuchet MS", sans-serif;
  font-size: 12pt;
  border-radius: 7px;
}

.admin-button:active {
  transform: scale(0.98);
}

.red {
  border-color: red;
}

.red:hover {
  background: red;
}

.blue {
  border-color: #4896ff;
}

.blue:hover {
  background: #4896ff;
}

.green {
  border-color: #19ff81;
}

.green:hover {
  background: #19ff81;
}

.position-left {
  margin-left: auto;
  margin-right: 20px;
}

.form-label {
  font-family: Futura, "Trebuchet MS", sans-serif;
  font-size: 16pt;
  margin-bottom: 5px;
}

.input-box {
  background-image:none;
  background-color:transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  font-family: Merriweather, serif;
  border: 1px solid #828282;
  border-radius: 3px;
  font-size: 14pt;
  width: 100%;
  margin-bottom: 40px;
}

.no-margin-full-width {
  margin: 0;
  width: 100%;
}

.subhead {
  color: #828282;
  font-family: Futura, "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
}

.multiline-input-box {
  background-image:none;
  background-color:transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  font-family: Merriweather, serif;
  border: 1px solid #828282;
  border-radius: 3px;
  font-size: 14pt;
  width: 100%;
  margin-bottom: 40px;
}

.cont-90 {
  width: 90vw;
  max-width: 700px;
}

#msg {
  color: #828282;
  font-family: Futura, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-20 {
  margin-left: 20px;
}

.top-20 {
  margin-top: 20px;
}

.pwd-box {
  margin-bottom: 5px;
}

#invisible-hamburger {
  opacity: 0;
}

code .code-background {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 12pt;
  overflow: auto;
  padding: 16px;
  max-width: 80vw;
}

p > a {
  color: #4896ff;
}

li > a {
  color: #4896ff;
}
