#parse("template/layout.vm")
#@mainLayout()
<div class="container picture-page-container">
  #foreach($mediaItem in $media)
    <a href="/media/view/$mediaItem">
      <div class="black-background picture-preview">
        <div class="picture-preview-pic" style="
            background-image: url('/media/view/$mediaItem');">
          <div class="row-container">
            <div class="delete-button" mediaName="$mediaItem">
              <i class="material-icons icon-large picture-delete">
                delete
              </i>
            </div>
          </div>
        </div>
      </div>
    </a>
  #end
  <script type="application/javascript" src="/javascripts/mediaScript.js"></script>
</div>
#end
