#parse("template/layout.vm")
#@mainLayout()
  <div class="container">
    <div id="content-head">
      <h3>
        Articles:
      </h3>
    </div>
    #foreach($post in $posts)
      <a href="/posts/$post.getTitle()">
        <div class="article-preview">
          <div class="row-container">
            <h3 class="preview-title">
              $post.getTitle()
            </h3>
            <span class="preview-date">$post.getDateString()</span>
          </div>
          <p class="preview-body">$post.getContents()</p>
        </div>
      </a>
    #end
  </div>
#end
